@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0px;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #444;
  background: #FFF;
  padding: 15px;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: inherit;
}

*.easing {
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
